- block "New <%= singular_name.underscore.humanize %>" do
  - semantic_form_for(@<%= singular_name %>, :url => collection_url) do |f|
    = render :partial => "form", :locals => { :f => f }
    = f.buttons

- content_for :actions do
  = sidebar_link 'View All', collection_url
