- block "<%= singular_name.humanize %>" do
  <% for attribute in attributes %>
  %p
    %strong <%= attribute.column.human_name %>:
    =h @<%= singular_name %>.<%= attribute.name %>
  <% end -%>
  
- content_for :actions do
  = sidebar_link 'Edit', edit_resource_url
  = sidebar_link 'View All', collection_url