- block "<%= singular_name.underscore.humanize %>" do
  - show_for @<%= singular_name %> do |<%= singular_name %>|
    <% for attribute in attributes %>
      = <%= singular_name %>.attribute :<%= attribute.name %>
    <% end -%>
  
- content_for :actions do
  = sidebar_link 'Edit', edit_resource_url
  = sidebar_link 'View All', collection_url