- block '<%= plural_name.humanize %>' do
  = render :partial => '<%= plural_name %>', :object => @<%= plural_name %>    

- content_for :actions do
  = sidebar_link 'New<%= singular_name %>', new_resource_url

- content_for :search do
  = render :partial => 'search'