= filtered_form_for @search do |f|
  = f.field_wrapper do
    <%- for attribute in model_attributes -%>
    = f.input :<%= attribute.name %>_like, :label => <%= class_name %>.human_attribute_name(:<%= attribute.name %>), :required => false
    <%- end -%>
  = f.filter_button

