- javascript 'common'

= block t(".title") do
  = render 'search'
  = render '<%= collection_name %>'

- content_for :actions do
  = sidebar_link t('<%= collection_name %>.new.title'), new_resource_url

